<?xml version='1.0' encoding='utf-8'?>
<widget id="com.woolsoft.switcher" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Switcher</name>
    <description>
        Click cells to switch the board into blue color
    </description>
    <author email="pavel.polykov.xyz@gmail.com" href="https://github.com/Pavel-Polyakov/switcher">
        Pavel Polyakov
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
