* {
    background-color: #EDECF4;
    color: #3d4849;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -o-user-select: none; /* Opera Presto */
    -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
    text-align: center;

    /*line-height: 90%;*/
}

body {
    font-size: medium;
}

.board {
    height: 43vw;
    width: 43vw;
    display: table;
    border-collapse: separate;
    border-spacing: 1vw;
    margin: 0 auto;
}

@media only screen and (max-device-width: 480px) {
    body {
        font-size: large;
    }

    .board {
        height: 70vw;
        width: 70vw;
        display: table;
        border-collapse: separate;
        border-spacing: 2vw;
        margin: 0 auto;
    }
}

h1 {
    margin-bottom: -10pt;
}


a:hover {
    border-bottom: #696969 solid 2px !important;
}

a:active {
    opacity: 0.5;
}

.cell {
    display: table-cell;
}

.cell-row {
    display: table-row;
}

.cell_0 {
    background-color: #06a7f3;
    border: 5px solid #06679b;
}

.cell_1 {
    background-color: #ff6984;
    border: 5px solid #ed0042;
}

.cell_0:active {
    filter: brightness(80%);
}

.cell_1:active {
    filter: brightness(80%);
}
