body {
    background-color: white;
    font-size: medium;
}

.text {
    text-align: center;
}

.board {
    height: 50vw;
    width: 50vw;
    display: table;
    border-collapse: separate;
    border-spacing: 1vw;
    margin: 0 auto;
}

.cell {
    display: table-cell;
}

.cell-row {
    display: table-row;
}

.cell_0 {
    background-color: #0B9BA9;
}

.cell_1 {
    background-color: #F46D78;
}
